*, body {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

body {
    background-color: #EFEFEF;
}

header {
    background-color: #444444;
    height: 5em;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    margin: auto 6%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2em;
    font-weight: semi-bold;
    text-decoration: none;
}

.logo:hover {
    color: white;
}

.profile-icon-link-container {
    display: flex;
    align-items: center;
    margin: auto 0;
}


.profile-icon-link-container img {
    margin: auto .3em auto auto;
    width: 2.5em;
}

.profile-icon-link-container span {
    margin: auto 0 .4em auto ;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

.about_us {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    align-items: left;
}

a {
    text-decoration: none;
}


/* notification block */


.notification-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.notification {
    padding: .8em 5%;
    background-color: rgba(64, 243, 243, 0.808);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 5px;
}

#cross {
    cursor: pointer;
}

/* Main Container css */

.main-container {
    width: 50%;
    background-color: white;
    margin: 10% auto;
    border-radius: 2em;
    padding: 2em 2em;
}

.container {
    display: flex;
    margin: 2em 2em;
    align-items: center;
    justify-content: space-between;
}

.profile-photo-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo-container img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin: .5em auto;
}

.user-content-container{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding-left: 2em;
}

.username {
    font-size: 2em;
    font-weight: 600;
    margin: 5px 0;
}

.user-title {
    font-size: 1.6em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.876);
    margin: 5px 0;
    width: 80%;
    line-height: 1.3em
}

.user-desc {
    font-size: .9em;
    color: #4B4B4B;
    margin: 4px auto 4px 0;
}

.profile-edit-link-container {
    display: flex;
    justify-content: flex-end;
    
}

.profile-edit-link-container a {
    text-decoration: none;
    color: #1a0dab;
}


@media only screen and (max-width: 1200px) {
    .container {
        display: block;
    }

    .main-container {
        padding: 2em 1.5em;
    }

    .user-content-container {
        padding-left: 0;
    }

    .profile-photo-container {
        width: 100%;
    }
  }


  @media only screen and (max-width: 700px) {
    .user-content-container {
        margin: 2em auto;
    }

    .user-title {
        width: 100%;
    }

    .main-container {
        margin: 10% auto;
        width: 75%;
    }

    .header-username {
        display: none;
    }

    .profile-photo-container {
        width: 100%;
    }
  }

  @media only screen and (min-width: 1200px){
    .user-content-container {
        width: 60%;
    }
    .profile-photo-container {
        margin: auto;
        width: 30%;
    }

    .container {
        font-size: 18px;
    }
  }


h2 {
	position	: absolute;
	top		: 350px;
	left		: 0px;
	width		: 100%;
	text-align: center;
	font-size: 70px;
	color: #444444;
}

p1 {
	position	: absolute;
	top		: 450px;
	left		: 0px;
	width		: 100%;
	text-align: center;
	font-size: 25px;
	color: #444444;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.image{
    background: url("https://weproject.media/upload/medialibrary/d01/d0193362d0bc8c384854efe08de8d29d.jpg") center/cover no-repeat;
}
.content{
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content h2{
    text-transform: uppercase;
    position	: absolute;
	top		: 1050px;
	left		: 360px;
    font-size: 48px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 1.0px;
    width: 500px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 25px;
    font-size: 17px;
    font-weight: 400;
    opacity: 1.0;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    line-height: 1.0;
}

header2 {
    background-color: #EFEFEF;
    height: 3em;
    display: flex;
    align-items: center;
}

header4 {
    background-color: #EFEFEF;
    height: 3em;
    display: flex;
    align-items: center;
}

header3 {
    background-color: #EFEFEF;
    height: 3em;
    display: flex;
    align-items: center;
}

.restiki-perexod{
    margin-top: 1.1em;
    width: 73%;
    padding: .8em;
    background-color: #FFD13A;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.mosque_sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.image_mosq{
    background: url("https://tengrinews.kz/userdata/images/u138/8a5a9c27297ef95096453171345f0f13.JPG") center/cover no-repeat;
}
.content_mosq{
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content_mosq h2{
    text-transform: uppercase;
    position	: absolute;
	top		: 1850px;
	left		: -360px;
    font-size: 48px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content_mosq span{
    height: 1.0px;
    width: 500px;
    background: #777;
    margin: 30px 0;
}
.content_mosq p{
    padding-bottom: 25px;
    font-size: 17px;
    font-weight: 400;
    opacity: 1.0;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    line-height: 1.0;
}

.mosque-perexod{
    margin-top: 1.1em;
    width: 73%;
    padding: .8em;
    background-color: #FFD13A;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans';
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
	font-size: 30px
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}